{% extends 'story4/base.html'%} {% load static %} {% block content %}  
   
<section id="skill">
    <div class="skill container">
        <div class="skill-top">
            <h1 class="section-title">SKILLS</h1>
        </div>
        <div class="skill-bottom">
            <div class="skill-item">
                <h1>Leadership</h1>
                <div class="icon"><img src="{% static 'story4/images/star-leadership.png' %}" /></div>
            </div>
            <div class="skill-item">
                <h1>Public Speaking</h1>
                <div class="icon"><img src="{% static 'story4/images/star-public-speak.png' %}" /></div>
            </div>
            <div class="skill-item">
                <h1>Python</h1>
                <div class="icon"><img src="{% static 'story4/images/star-python.png' %}" /></div>
            </div>
            <div class="skill-item">
                <h1>Team Management</h1>
                <div class="icon"><img src="{% static 'story4/images/star-team-manage.png' %}" /></div>

            </div>
        </div>
    </div>
</section>
{% endblock %}