{% extends 'story4/base.html'%} {% load static %} {% block content %}  

        <div class="row">
            <div class="column">
                <h3 data-aos="fade-up">Education</h3>
            </div>
        </div>
        

        <div class="row block-large-1-2 block-900-full work-positions">

            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">University of Indonesia</span>
                        </h6>
                        <div class="position__timeframe">
                             2019 - present
                        </div>
                    </div>

                </div>
            </div>
            <div class="row block-large-1-2 block-900-full work-positions">

                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">54 Senior High School</span>
                            </h6>
                            <div class="position__timeframe">
                                 2016-2019
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="row block-large-1-2 block-900-full work-positions">

                    <div class="column" data-aos="fade-up">
                        <div class="position">
                            <div class="position__header">
                                <h6>
                                    <span class="position__co">54 junior High School</span>
                                </h6>
                                <div class="position__timeframe">
                                     2013-2016
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="row block-large-1-2 block-900-full work-positions">

                        <div class="column" data-aos="fade-up">
                            <div class="position">
                                <div class="position__header">
                                    <h6>
                                        <span class="position__co">02 Elementary School</span>
                                    </h6>
                                    <div class="position__timeframe">
                                         2007-2013
                                    </div>
                                </div>
            
                            </div>
                        </div>
            
        </div>

        <div class="row">
            <div class="column">
                <h3 data-aos="fade-up">Personal experiences</h3>
            </div>
        </div>
        <div class="row block-large-1-2 block-900-full work-positions">

            <div class="column" data-aos="fade-up">
                <div class="position">
                    <div class="position__header">
                        <h6>
                            <span class="position__co">Person in charge Liaison Officer of Open House Fasilkom UI 2020</span>
                        </h6>
                        <div class="position__timeframe">
                             June 2020-present
                        </div>
                    </div>

                </div>
            </div>
            <div class="row block-large-1-2 block-900-full work-positions">

                <div class="column" data-aos="fade-up">
                    <div class="position">
                        <div class="position__header">
                            <h6>
                                <span class="position__co">Staff Public Relation of Executive Council of Student CS UI</span>
                            </h6>
                            <div class="position__timeframe">
                                 Februari 2020- Present
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="row block-large-1-2 block-900-full work-positions">

                    <div class="column" data-aos="fade-up">
                        <div class="position">
                            <div class="position__header">
                                <h6>
                                    <span class="position__co">Staff food & beverages of COMPFEST XII</span>
                                </h6>
                                <div class="position__timeframe">
                                     2020
                                </div>
                            </div>
        
                        </div>
                    </div>
                    <div class="row block-large-1-2 block-900-full work-positions">

                        <div class="column" data-aos="fade-up">
                            <div class="position">
                                <div class="position__header">
                                    <h6>
                                        <span class="position__co">Staff Games of PERAK 2020</span>
                                    </h6>
                                    <div class="position__timeframe">
                                         2020
                                    </div>
                                </div>
            
                            </div>
                        </div>
                        <div class="row block-large-1-2 block-900-full work-positions">

                            <div class="column" data-aos="fade-up">
                                <div class="position">
                                    <div class="position__header">
                                        <h6>
                                            <span class="position__co">Staff equipment of Fasilkom’s graduation 2020</span>
                                        </h6>
                                        <div class="position__timeframe">
                                             2020
                                        </div>
                                    </div>
                
                                </div>
                            </div>
        
{% endblock %}