{% extends 'story4/base.html'%} {% load static %} {% block content %}
<head>
    
    <link rel="stylesheet" href="{% static 'story4/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'story4/fix.css' %}">
</head>    
        <div id="classes" class="layout_padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text_align_center">
                        <h2 class="heading_section" style="margin-bottom: 65px;">Hobby</h3>
                    </div>
                </div>
                <div class="row">
    
                    <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/jordan.jpg' %}" alt="" width="246" height="246">
                            <h4>Basketball</h4>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/fifa.jpg' %}" alt="" width="246" height="246">
                            <h4>Fifa</h4>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/futsal.jpg' %}" alt="" width="246" height="246">
                            <h4>Futsal</h4>
                        </div>
                    </div>
                    <div id="classes" class="layout_padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text_align_center">
                                    <h2 class="heading_section" style="margin-bottom: 65px;">Interest</h3>
                                </div>
                            </div>
                            <div class="row">
    
                    <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/bisnis.jpg' %}" alt="#" />
                            <h4>Business</h4>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/teknologi.png' %}" alt="#" />
                            <h4>Technology</h4>
                        </div>
                    </div>
    
                     <div class="col-md-4">
                        <div class="full dance_form_name">
                            <img src="{% static 'story4/images/entre.jpg' %}" alt="#" />
                            <h4>Entrepreneur</h4>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>

{% endblock %}