{% extends 'story4/base.html'%} {% load static %} {% block content %}    
    <div class="row hero-content">

        <div class="column large-full">

            <h1>
            Hello, I'm Rafli, <br>
            a creative web developer <br>
            & designer currently <br>
            based somewhere.
            </h1>

        </div> 

    </div>
    <br>

    <div id="socmed">
        <h2>Find me on</h2>
        <a href="https://www.instagram.com/rafliamardito/" target="_blank">
          <img class="sospli" src="{% static 'story4/images/instagram.png' %}" alt="" alt="Ig @rafliamardito" width="50" height="50" hspace="20"/>
        </a>
        <a href="https://www.facebook.com/muhammadrafli.amardito" target="_blank">
          <img class="sospli" src="{% static 'story4/images/facebook.png' %}" alt="" width="50" height="50" hspace="20"/>
        </a>
        <a href="https://www.linkedin.com/in/rafli-amardito-2533bb192/" target="_blank">
          <img class="sospli" src="{% static 'story4/images/linkedin.png' %}" alt="" width="50" height="50" hspace="20"/>
        </a>
    </div>
{% endblock %}