<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Bismillah</title>
    <link rel="stylesheet" href="{% static 'story1/coba.css' %}">
</head>  
<body>
  
      <div id="header">
        <h1> Welcome to My Website</h1>
      </div>
<div id = "profile">
    <img src="{% static 'story1/images/mukaku.jpg' %}" alt="" width="150" height="auto" >
</div>
<div id = "main">
<table style="width: auto;">
  <tr>
    <td>Nama</td>
    <td>Muhammad Rafli Amardito</td> 
  </tr>
  <tr>
    <td>NPM</td>
    <td>1906307523</td>
  
  </tr>
  <tr>
    <td>Angkatan</td>
    <td><a href="https://maung.id/muhammad.rafli91" target="_blank"> <i>MAUNG 2019</i></a></td></td>
   
  </tr>
  <tr>
    <td>Student of</td>
    <td>Fasilkom Universitas Indonesia </td>     
  </tr>
  <tr>
      <td>Hobi</td>
      <td>Bermain game Fifa</td>
  </tr>
</table>

<h2> Deskripsi Diri</h2>
<h4> Saya lahir di Jakarta pada tanggal 12 Agustus 2001. Saya adalah anak kedua dari dua bersaudara. Sejak SMA saya ingin sekali bisa masuk di Universitas Indonesia. Saya adalah fans berat dari klub sepakbola FC Barcelona. Oleh karena itu warna background Website saya campuran antara warna merah dan biru. Saya masih pemula dalam hal membuat dan merancang web.</h4>

    <h2>Riwayat Pendidikan</h2>
    
    <table>
      <tr>
        <th>Jenjang Pendidikan</th>
        <th>Tahun</th> 
      </tr>
      <tr>
        <td>Universitas Indonesia</td>
        <td>2019-sekarang</td>
      
      </tr>
      <tr>
        <td>SMAN 54 Jakarta</td>
        <td>2016-2019</td>
       
      </tr>
      <tr>
        <td>SMPN 52 Jakarta</td>
        <td>2013 - 2016</td>     
      </tr>
      <tr>
          <td>SDN CC 02</td>
          <td>2007-2013</td>
      </tr>
    </table>
  </style>
  </div>
    <div id="socmed">
      <h2>Social Media</h2>
      <a href="https://www.instagram.com/rafliamardito/" target="_blank">
        <img class="sospli" src="{% static 'story1/images/instagram.png' %}" alt="" alt="Ig @rafliamardito" width="50" height="50" hspace="20"/>
      </a>
      <a href="https://www.facebook.com/muhammadrafli.amardito" target="_blank">
        <img class="sospli" src="{% static 'story1/images/facebook.png' %}" alt="" width="50" height="50" hspace="20"/>
      </a>
      <a href="https://www.linkedin.com/in/rafli-amardito-2533bb192/" target="_blank">
        <img class="sospli" src="{% static 'story1/images/linkedin.png' %}" alt="" width="50" height="50" hspace="20"/>
      </a>
  </div>

  <div id="footer">
      Copyright &copy; 2020 M. Rafli Amardito.
  </div>
  </body>
  
</html>